* {
  color: #dad8d8;
}

html {
  height: auto;
}

body {
  margin: 0;
  background-image: url(stars.png);
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 1em;
  padding-bottom: 3em;
}

html,
body {
  background-color: #191d21;
}

body main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
}

hr {
  margin: 1.5em 0;
}

body main h1,
body main h2,
body main h3,
body main p,
body main i,
footer {
  letter-spacing: 0;
  line-height: 1.6;
}

body main h1 {
  font-weight: 200;
}

body main h2 {
  font-weight: 300;
}

body main h3,
body main h4 {
  font-weight: 400;
}

body main h1,
body main h2,
body main h3,
body main h4 {
  text-align: center;
}

body main h1 {
  font-size: 3em;
}

body main ul {
  font-size: 1.2em;
}

body main a {
  color: #58a6ff;
  text-decoration: none;
}

body main a:hover {
  background: #2d3947;
}

body main h2 {
  border-bottom: 0;
  margin-bottom: 0;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.subpage-content {
  margin-bottom: 2em;
  background-color: #191d21;
}

.subpage-content li {
  margin: 1em 0;
}

header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

footer {
  color: #aaa;
  text-align: center;
  padding-bottom: 2em;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.gradient-border {
  position: relative;
  z-index: 0;
  max-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  margin: 0 auto;
}

.gradient-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#191d21, #191d21), linear-gradient(#377af5, #377af5), linear-gradient(#191d21, #191d21), linear-gradient(#377af5, #377af5);
  animation: rotate 13s linear infinite;
}

.gradient-border::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: #191d21;
  border-radius: 5px;
}
